In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CountryName.csv', encoding='utf-8')
df.shape
df.sample(3)

(509, 2)

          Ctry_Name Ctry_ISO3
166  United Kingdom       GBR
258       St. Lucia       LCA
64           C.A.R.       CAF

In [3]:
df = df.append({'Ctry_Name': "Korea (South)", 'Ctry_ISO3': 'KOR'}, ignore_index=True)
df = df.append({'Ctry_Name': "Virgin Islands (Brit)", 'Ctry_ISO3': 'VGB'}, ignore_index=True)
df = df.append({'Ctry_Name': "Hongkong", 'Ctry_ISO3': 'HKG'}, ignore_index=True)
df = df.append({'Ctry_Name': "Virgin Islands(Brit)", 'Ctry_ISO3': 'VGB'}, ignore_index=True)
df = df.append({'Ctry_Name': "England", 'Ctry_ISO3': 'GBR'}, ignore_index=True)
df = df.append({'Ctry_Name': "United States Virgin Islands", 'Ctry_ISO3': 'VIR'}, ignore_index=True)
df = df.append({'Ctry_Name': "Moldovia", 'Ctry_ISO3': 'MDA'}, ignore_index=True)
df = df.append({'Ctry_Name': "Falkland Islands (Malvinas)", 'Ctry_ISO3': 'FLK'}, ignore_index=True)
df = df.append({'Ctry_Name': "Turks & Caicos Islands", 'Ctry_ISO3': 'TCA'}, ignore_index=True)

In [4]:
# df.loc[df['Ctry_Name'].str.contains('\?')]

In [5]:
df.duplicated(subset=['Ctry_Name']).sum()

0

In [6]:
df.sort_values(['Ctry_ISO3', 'Ctry_Name'], ascending=True, inplace=True)

In [7]:
df.to_csv('CountryName.csv', encoding='utf-8', index=False)