In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('CountryName.csv', encoding='utf-8')
df.shape
df.sample(3)

(508, 2)

                               Ctry_Name Ctry_ISO3
444                              Tunisia       TUN
376  Russian Federation Saint Petersburg   RUS-SPE
64                                C.A.R.       CAF

In [4]:
# df = df.append({'Ctry_Name': "Åland Islands", 'Ctry_ISO3': 'ALA'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Aland Islands", 'Ctry_ISO3': 'ALA'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Brazil São Paulo", 'Ctry_ISO3': 'BRA-SP'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Saint Barthélemy", 'Ctry_ISO3': 'BLM'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Côte d'Ivoire", 'Ctry_ISO3': 'CIV'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Côte D'Ivoire", 'Ctry_ISO3': 'CIV'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Curaçao", 'Ctry_ISO3': 'CUW'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Réunion", 'Ctry_ISO3': 'REU'}, ignore_index=True)
# df = df.append({'Ctry_Name': "São Tomé and Príncipe", 'Ctry_ISO3': 'STP'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Bosnia-Herzegovina", 'Ctry_ISO3': 'BIH'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Burma (Myanmar)", 'Ctry_ISO3': 'MMR'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Falkland Is. (Malvinas)", 'Ctry_ISO3': 'FLK'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Fed. States of Micronesia", 'Ctry_ISO3': 'FSM'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Northern Mariana Is.", 'Ctry_ISO3': 'MNP'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Palestinian territories", 'Ctry_ISO3': 'PSE'}, ignore_index=True)
# df = df.append({'Ctry_Name': "St. Helena", 'Ctry_ISO3': 'SHN'}, ignore_index=True)
# df = df.append({'Ctry_Name': "St. Pierre and Miquelon", 'Ctry_ISO3': 'SPM'}, ignore_index=True)
# df = df.append({'Ctry_Name': "St. Vincent and the Gren.", 'Ctry_ISO3': 'VCT'}, ignore_index=True)
df = df.append({'Ctry_Name': "Dem. Rep. of the Congo", 'Ctry_ISO3': 'COD'}, ignore_index=True)

In [5]:
# df.loc[df['Ctry_Name'].str.contains('\?')]

In [6]:
df.duplicated(subset=['Ctry_Name']).sum()

0

In [7]:
df.sort_values(['Ctry_ISO3', 'Ctry_Name'], ascending=True, inplace=True)

In [8]:
df.to_csv('CountryName.csv', encoding='utf-8', index=False)