In [1]:
import pandas as pd

# Country Name

In [9]:
df = pd.read_csv('CountryName.csv', encoding='utf-8')
df.shape
df.sample(3)

(605, 2)

         Ctry_Name Ctry_ISO3
6    Åland Islands       ALA
493       Slovakia       SVK
519     East Timor       TLS

In [10]:
# tmp = pd.DataFrame(
#     {
#         'Ctry_Name': ['Korea (South)', 'Virgin Islands (Brit)', 'Hongkong', 'Virgin Islands(Brit)', 'England', 'United States Virgin Islands', 'Moldovia', 'Falkland Islands (Malvinas)', 'Turks & Caicos Islands', 'Taiwan ROC'],
#         'Ctry_ISO3': ['KOR', 'VGB', 'HKG', 'VGB', 'GBR', 'VIR', 'MDA', 'FLK', 'TCA', 'TWN']
#     }
# )

# df = pd.concat([df, tmp], ignore_index=True)


# tmp = pd.DataFrame(
#     {
#         'Ctry_Name': ['DR Congo', 'Somaliland', 'Transnistria', 'Northern Cyprus', 'Akrotiri and Dhekelia'],
#         'Ctry_ISO3': ['COD', 'SOM', 'MDA', 'CYP', 'GBR-AD']
#     }
# )

# df = df.append({'Ctry_Name': "HongKong", 'Ctry_ISO3': 'HKG'}, ignore_index=True)
# df = df.append({'Ctry_Name': "montenegro", 'Ctry_ISO3': 'MNE'}, ignore_index=True)
# df = df.append({'Ctry_Name': "Canary Is", 'Ctry_ISO3': 'ESP'}, ignore_index=True)

tmp = pd.DataFrame(
    {
        'Ctry_Name': ['HongKong', 'montenegro', 'Canary Is', 'Melilla', 'Ceuta', 'Tubai Is'],
        'Ctry_ISO3': ['HKG', 'MNE', 'ESP', 'ESP', 'ESP', 'PYF']
    }
)

df = pd.concat([df, tmp], ignore_index=True)

In [11]:
# df.loc[df['Ctry_Name'].str.contains('\?')]

In [12]:
df.drop_duplicates(inplace=True)
df.shape

(608, 2)

In [13]:
df.duplicated(subset=['Ctry_Name']).sum()

0

In [14]:
df[df.duplicated(subset=['Ctry_Name'])]

Empty DataFrame
Columns: [Ctry_Name, Ctry_ISO3]
Index: []

In [15]:
df.sort_values(['Ctry_ISO3', 'Ctry_Name'], ascending=True, inplace=True)

In [16]:
df.to_csv('CountryName.csv', encoding='utf-8', index=False)

# Country ISO2

In [1]:
df = pd.read_csv('CountryISO2.csv', encoding='utf-8')
df.shape
df.sample(3)

(259, 2)

    Ctry_ISO2 Ctry_ISO3
107        IM       IMN
29         BO       BOL
148        MH       MHL