In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('CountryName.csv', encoding='utf-8')
df.shape
df.sample(3)

(499, 2)

                     Ctry_Name Ctry_ISO3
380                    Senegal       SEN
348  Korea, Dem. People's Rep.       PRK
413  Sint Maarten (Dutch part)       SXM

In [5]:
df = df.append({'Ctry_Name': "Åland Islands", 'Ctry_ISO3': 'ALA'}, ignore_index=True)
df = df.append({'Ctry_Name': "Aland Islands", 'Ctry_ISO3': 'ALA'}, ignore_index=True)
df = df.append({'Ctry_Name': "Brazil São Paulo", 'Ctry_ISO3': 'BRA-SP'}, ignore_index=True)
df = df.append({'Ctry_Name': "Saint Barthélemy", 'Ctry_ISO3': 'BLM'}, ignore_index=True)
df = df.append({'Ctry_Name': "Côte d'Ivoire", 'Ctry_ISO3': 'CIV'}, ignore_index=True)
df = df.append({'Ctry_Name': "Côte D'Ivoire", 'Ctry_ISO3': 'CIV'}, ignore_index=True)
df = df.append({'Ctry_Name': "Curaçao", 'Ctry_ISO3': 'CUW'}, ignore_index=True)
df = df.append({'Ctry_Name': "Réunion", 'Ctry_ISO3': 'REU'}, ignore_index=True)
df = df.append({'Ctry_Name': "São Tomé and Príncipe", 'Ctry_ISO3': 'STP'}, ignore_index=True)

In [72]:
# df.loc[df['Ctry_Name'].str.contains('\?')]

In [6]:
df.duplicated(subset=['Ctry_Name']).sum()

0

In [7]:
df.sort_values(['Ctry_ISO3', 'Ctry_Name'], ascending=True, inplace=True)

In [8]:
df.to_csv('CountryName.csv', encoding='utf-8', index=False)